{% extends "base.html" %}

{% block title %}Employee Details{% endblock %}

{% block content %}
<img class='img-user'src="../static/img/user.png" alt="user.png">
<h1>{{employee.name}} s Details</h1>
<p><strong>Name:</strong> {{ employee.name }}</p>
<p><strong>Position:</strong> {{ employee.position }}</p>
<p><strong>Salary:</strong> {{ employee.salary }}</p>

<div class='link-group' style="display:flex; gap: 5vw;">
<a class='edit-link' href="{{ url_for('main.edit_employee', id=employee._id) }}">Edit</a>
<a class='edit-link' href="{{ url_for('main.index') }}">Back to Employee List</a>
</div>
{% endblock %}
